/.idea/csv-plugin.xml
/.idea/dataSources.xml
/moviedb.log
/movies.sqlite3
/.idea/copyright/profiles_settings.xml
/old movies.sqlite3
/movies 2.sqlite3
/identifier.sqlite
/pytest.ini
/.idea/sqldialects.xml
/test/tmdb/.coverage
/htmlcov/
